.dialogLoading {
  position: relative;
  color: var(--gray-12);
  padding: var(--space-5);
  border-radius: var(--radius-5);
  box-shadow: var(--shadow-6);
  background-color: var(--color-panel-solid);
  outline: none;
  width: 100%;
  max-width: 450px;
  min-height: 150px;
}
.dialogLoadingContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--color-overlay);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0 !important;
}
