.nav {
  display: flex;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  align-items: flex-end;
  justify-content: center;
  height: 0;
}

.controlContainer {
  background-color: var(--color-panel-solid);
}

.controlIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  /* To make it vertically aligned with regard to the container */
  vertical-align: -2px;
}
.control :global(.rt-SegmentedControlIndicator)::before {
  box-shadow: none;
}

/* For small screen */
.nav {
  bottom: 0;
}
.controlContainer {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--gray-9);
  border-radius: 0;
}
.control {
  width: 100%;
  background-color: transparent;
}
/* For large screen */
@media (min-width: 520px) {
  .nav {
    bottom: var(--space-4);
  }
  .controlContainer {
    width: max-content;
    border: 0;
    border-radius: var(--radius-3);
    padding: var(--space-1);
    box-shadow: var(--shadow-2);
  }
  .control {
    width: max-content;
  }
}
