.tableHeader {
  position: sticky;
  top: 0;
}
.tableCellDateIncurred {
  width: 200px;
}
.tableCellTitle {
  width: 200px;
}
.tableCellDescription {
  width: 200px;
}
.tableCellCurrency {
  width: 100px;
}
.tableCellAmount {
  width: 150px;
}
.tableCellCurrencyConversionFactor {
  width: 100px;
}
.tableCellAmountInOriginCurrency {
  width: 150px;
}
.tableCellActions {
  width: 200px;
}
