@use 'sass:string';
@layer timetableBackground, timetableBase, timetableOverride;

@function pad2($num) {
  @if $num < 0 {
    @return '0';
  } @else if $num >= 10 {
    @return $num;
  }
  @return '0' + $num;
}

@function timeTemplateRow() {
  $ret: '';
  // "previous hh & mm", to be used in case of current = 2100 and need to refer to previous minute (2059)
  $phhmm: '';
  @for $i from 0 to 24 {
    $hh: pad2($i);
    @for $j from 0 to 60 {
      $mm: pad2($j);
      // Generate [t0000] var(--row-minute-height), [te000 t0001] var(--row-minute-height), ..., [te2357 t2358] var(--row-minute-height), [te2358 t2359] var(--row-minute-height) [te2359]
      @if $i == 0 and $j == 0 {
        // first one
        $ret: $ret + '[t#{$hh}#{$mm}]' + ' var(--row-minute-narrow-height) ';
      } @else if not ($i == 0 and $j == 0) and not ($i == 23 and $j == 59) {
        // middle ones

        @if (0 <= $i and $i <= 5) {
          $ret: $ret +
            '[te#{$phhmm} t#{$hh}#{$mm}]' +
            ' var(--row-minute-narrow-height) ';
        } @else {
          $ret: $ret +
            '[te#{$phhmm} t#{$hh}#{$mm}]' +
            ' var(--row-minute-height) ';
        }
      } @else if $i == 23 and $j == 59 {
        // final one
        $ret: $ret +
          '[te#{$phhmm} t#{$hh}#{$mm}]' +
          ' var(--row-minute-height) ' +
          '[te#{$hh}#{$mm}]';
      }
      $phhmm: '#{$hh}#{$mm}';
    }
  }
  @return $ret;
}

@layer timetableBackground {
  .timetableCell {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: var(--row-minute-height);
    
    &:hover {
      background-color: var(--accent-2);
    }
    
    &.dragOver {
      background-color: var(--accent-3);
      outline: 2px dashed var(--accent-8);
    }
  }
}

@layer timetableBase { 
  
  .timetable {
    --row-minute-height: 2px;
    --row-minute-narrow-height: 0.8px;
    display: grid;
    // grid-template-columns will be overridden in "style" at <Timetable />
    grid-template-columns: [time] 45px repeat(5, [d] 1fr);
    // "[macroplan] min-content" and "[accommodation] min-content"
    // so it can "collapse" when there is no content in macroplan and accommodation (respectively)
    grid-template-rows: [header] 50px [macroplan] min-content [accommodation] min-content string.unquote(timeTemplateRow());
    gap: 0;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--color-panel-solid);
    min-width: 0;
    min-height: 0;
    overflow: auto;
    max-height: calc(100vh - var(--space-8));
    overscroll-behavior-y: contain;
  }

  @media (min-width: 520px) {
    .timetable {
      --row-minute-height: 1px;
      --row-minute-narrow-height: 0.5px;
    }
  }

  .timetableTimeHeader {
    grid-row: header / span 1;
    grid-column: time / span 1;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    background: var(--color-panel-solid);
    font-weight: bold;
    border: 1px solid var(--gray-6);
    z-index: 3;
  }
  .timetableAccommodationHeader {
    @extend .timetableTimeHeader;
    grid-column: 1 / span 1;
    grid-row: accommodation / span 1;
    z-index: 2;
    min-height: 30px;
    height: fill-available;
  }
  .timetableMacroplanHeader {
    @extend .timetableTimeHeader;
    grid-column: 1 / span 1;
    grid-row: macroplan / span 1;
    z-index: 2;
    min-height: 30px;
    height: fill-available;
  }


  .timetableColumn {
    grid-row: header / span 1;
    grid-column-start: auto;
    grid-column-end: span 1;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-panel-solid);
    padding: 0.3em 0.6rem;
    font-weight: bold;
    border: 1px solid var(--gray-6);
    z-index: 1;
  }
  .timetableTime {
    --time-bg: var(--color-panel-solid);

    grid-column: time / span 1;
    grid-row-end: span 60;
    position: sticky;
    left: 0;

    display: flex;
    align-items: start;
    justify-content: center;
    overflow-wrap: break-word;
    background: var(--time-bg);
    padding: 0.1em;
    font-weight: bold;
    border: 1px solid var(--gray-6);
    z-index: 1;
  }
  .timetableItem {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }

  .macroplanGrid {
    display: grid;
    grid-row-start: macroplan;
    grid-column-start: d1;
    grid-column-end: -1;
    box-sizing: border-box;
    min-height: 30px;
    grid-auto-flow: row;
    grid-auto-columns: 30px;
  }
  .accommodationGrid {
    display: grid;
    grid-row-start: accommodation;
    grid-column-start: d1;
    grid-column-end: -1;
    box-sizing: border-box;
    min-height: 30px;
    grid-auto-flow: row;
    grid-auto-columns: 30px;
  }
}
