@use 'sass:string';
@layer timetableBase, timetableOverride;

@function pad2($num) {
  @if $num < 0 {
    @return '0';
  } @else if $num >= 10 {
    @return $num;
  }
  @return '0' + $num;
}

@function timeTemplateRow() {
  $ret: '';
  // "previous hh & mm", to be used in case of current = 2100 and need to refer to previous minute (2059)
  $phhmm: '';
  @for $i from 0 to 24 {
    $hh: pad2($i);
    @for $j from 0 to 60 {
      $mm: pad2($j);
      // Generate [t0000] var(--row-minute-height), [te000 t0001] var(--row-minute-height), ..., [te2357 t2358] var(--row-minute-height), [te2358 t2359] var(--row-minute-height) [te2359]
      @if $i == 0 and $j == 0 {
        // first one
        $ret: $ret + '[t#{$hh}#{$mm}]' + ' var(--row-minute-height) ';
      } @else if not ($i == 0 and $j == 0) and not ($i == 23 and $j == 59) {
        // middle ones
        $ret: $ret +
          '[te#{$phhmm} t#{$hh}#{$mm}]' +
          ' var(--row-minute-height) ';
      } @else if $i == 23 and $j == 59 {
        // final one
        $ret: $ret +
          '[te#{$phhmm} t#{$hh}#{$mm}]' +
          ' var(--row-minute-height) ' +
          '[te#{$hh}#{$mm}]';
      }
      $phhmm: '#{$hh}#{$mm}';
    }
  }
  @return $ret;
}

@layer timetableBase {
  .timetable {
    --row-minute-height: 2px;
    display: grid;
    // grid-template-columns will be overridden in "style" at <Timetable />
    grid-template-columns: [time] 65px repeat(5, [d] 1fr);
    grid-template-rows: [header] 50px string.unquote(timeTemplateRow());
    gap: 0;
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--color-panel-solid);
    min-width: 0;
    min-height: 0;
    overflow: auto;
    max-height: calc(100vh - var(--space-8));
    overscroll-behavior-y: contain;
  }

  @media (min-width: 520px) {
    .timetable {
      --row-minute-height: 1px;
    }
  }

  .timetableHeader {
    grid-row: header / span 1;
    grid-column: time / span 1;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    background: var(--color-panel-solid);
    font-weight: bold;
    border: 1px solid var(--gray-6);
    z-index: 2;
  }

  .timetableColumn {
    grid-row: header / span 1;
    grid-column-start: auto;
    grid-column-end: span 1;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-panel-solid);
    padding: 0.3em 0.6rem;
    font-weight: bold;
    border: 1px solid var(--gray-6);
    z-index: 1;
  }
  .timetableTime {
    --time-bg: var(--color-panel-solid);

    grid-column: time / span 1;
    grid-row-end: span 60;
    position: sticky;
    left: 0;

    display: flex;
    align-items: start;
    justify-content: center;
    overflow-wrap: break-word;
    background: var(--time-bg);
    padding: 0.6em 0.3em;
    font-weight: bold;
    border: 1px solid var(--gray-6);
    z-index: 1;
  }
  .timetableItem {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
}
