.activity {
  border: 1px solid var(--accent-9);
  border-radius: var(--radius-3);
  padding: var(--radius-3);
}
.newForm {
  display: grid;
  grid-template-columns: 10em auto auto;
  gap: 0.5em;
}
.newFormLabel {
  grid-column: 1 / span 1;
  text-align: end;
}
.newFormInputText {
  grid-column: 2 / span 2;
}
.newFormButtonSubmit {
  grid-column: -2 / span 1;
}
