@use 'sass:string';
@layer timelineBase, timeOverride;

@function pad2($num) {
  @if $num >= 10 {
    @return $num;
  }
  @return '0' + $num;
}

@function timeTemplateRow() {
  $ret: '';
  @for $i from 0 to 24 {
    $hh: pad2($i);
    @for $j from 0 to 60 {
      $mm: pad2($j);
      // Generate [t0000] var(--row-minute-height), [t0001] var(--row-minute-height), ..., [t2358] var(--row-minute-height), [t2359] var(--row-minute-height)
      $ret: $ret + '[t#{$hh}#{$mm}]' + ' var(--row-minute-height) ';
    }
  }
  @return $ret;
}

@layer timeOverride {
  @for $i from 0 to 24 {
    $hh: pad2($i);
    @for $j from 0 to 60 {
      $mm: pad2($j);
      $totalMinute: $i * 60 + $j;

      // Generate .t0000, .t0001, ..., .t2358, .t2359
      // For anchoring start of time (row)
      .t#{$hh}#{$mm} {
        grid-row-start: t#{$hh}#{$mm};
      }
      // Generate .te0000, .te0001, ..., .te2358, .te2359
      // For anchoring end of time (row)
      .te#{$hh}#{$mm} {
        grid-row-end: t#{$hh}#{$mm};
      }
      // Generate .ts0, .ts1, ..., .ts1440
      // For spanning end of time (row)
      .ts#{$totalMinute} {
        grid-row-end: span $totalMinute;
      }
    }
  }
}

@layer timelineBase {
  .timeline {
    --row-minute-height: 1px;
    display: grid;
    grid-template-columns: [time] 65px repeat(5, 1fr);
    grid-template-rows: [header] 50px string.unquote(timeTemplateRow());
    gap: 0;
    justify-items: stretch;
    align-items: stretch;
    overflow-x: auto;
    background-color: var(--color-panel-solid);
  }
  .timelineHeader {
    grid-row: header / span 1;
    grid-column: time / span 1;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    background: #eaecf0;
    padding: 0.3em;
    font-weight: bold;
  }

  .timelineColumn {
    grid-row: header / span 1;
    grid-column-start: auto;
    grid-column-end: span 1;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaecf0;
    padding: 0.3em 0.6rem;
    font-weight: bold;
  }
  .timelineTime {
    --time-bg: var(--color-panel-translucent);

    grid-column: time / span 1;
    grid-row-end: span 60;
    position: sticky;
    left: 0;

    display: flex;
    align-items: start;
    justify-content: center;
    overflow-wrap: break-word;
    background: var(--time-bg);
    padding: 0.6em 0.3em;
    font-weight: bold;
    border-top: 1px solid rgb(109, 109, 109);
  }
  .timelineItem {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
}
