.activity {
  border: 1px solid var(--gray-9);
  background-color: var(--color-panel-solid);
  border-radius: var(--radius-2);
  overflow: hidden;
  cursor: var(--cursor-link);
  display: block;
  text-align: start;
}
.activity:focus-visible {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--accent-9);
}
.activityDescription {
  white-space: pre-wrap;
}
.newForm {
  display: grid;
  grid-template-columns: 10em auto auto;
  gap: 0.5em;
}
.newFormLabel {
  grid-column: 1 / span 1;
  text-align: end;
}
.newFormInputText {
  grid-column: 2 / span 2;
}
.newFormButtonSubmit {
  grid-column: -2 / span 1;
}
