.grid {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  place-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  vertical-align: -6px;
  margin-right: 3px;
}
.screenBackButton {
  display: inline-block;
  vertical-align: baseline;
  height: 1em;
  margin-right: 5px;
}
